name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4

      - name: setup project  
        run: make setup

      - name: run tests
        run: npm test

      - name: run linter
        run: make lint
